$orange-Color:orange;
$background-nav:#041121;
$white-Color:#fff;
$black-Color:#000000;
$white-10-Color:#efefef;
$nav-Color:rgb(46, 46, 46);
$gray-Color: #737373;
$faq-Color:#6b6bff;
$faq-hover-Color:#5d5dfd;
$foter-border-Color:#302352;